@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');


body {
  margin: 50px;
  background-image: url('http://www.hkepci.com/data/out/28/358876-parchment.jpg');
  font-family: 'Berkshire Swash';
  font-size: 1em;
}

main {
  margin: 20px;
}

input {
  margin: 10px;
  width: 150px;
}

.Title {
  text-align: center;
}

.guesses {
  text-align: center;
}

.text {
  text-align: center;
}

.guess-letter {
  margin: 20px;
}

.primary {
  color: white;
  background-color: black;
  padding: 10px;
  font-family: 'Berkshire Swash';
}
